html,
body {
  overflow-y: scroll;
  background-color: black;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.text-custom {
  color: #81859f !important;
}

.text-custom:hover {
  color: #ffffff !important;
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #ea8d8d, #eec5bd, #f3b1a5 35%, #a890fe 72%, #dad9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.custom-input {
  border-radius: 10px;
  padding: 13px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.custom-input::placeholder {
  color: #fff;
  opacity: 1;
}

.custom-input:focus {
  background-color: transparent;
  color: #fff;
}

.racb-btn {
  background-image: linear-gradient(to right bottom, #3fff00, #3af219, #37e625, #34d92d, #32cd32);
  font-weight: bold;
  padding: 15px 150px;
  width: auto;
  transition: all 0.3s ease;
}

.racb-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .racb-btn {
    padding: 10px 30px; /* Smaller padding for mobile screens */
  }
}




.col-lg-6 {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.col-lg-6::-webkit-scrollbar {
  display: none; 
}
