html,
body {
  overflow-y: scroll;
  background-color: black;
}



html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
li{
  cursor: pointer;
}


html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.text-custom {
  color: #81859f !important;
}

.text-custom:hover {
  color: #ffffff !important;
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #ea8d8d, #eec5bd, #f3b1a5 35%, #a890fe 72%, #dad9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}


.custom-input {
  border-radius: 10px;
  padding: 13px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.custom-input::placeholder {
  color: #fff;
  opacity: 1;
}

.custom-input:focus {
  background-color: transparent;
  color: #fff;
}

.racb-btn {
  background-image: linear-gradient(to right bottom, #3fff00, #3af219, #37e625, #34d92d, #32cd32);
  font-weight: bold;
  padding: 15px 150px;
  width: auto;
  transition: all 0.3s ease;
}

.racb-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .racb-btn {
    padding: 10px 30px; /* Smaller padding for mobile screens */
  }
}




.col-lg-6 {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.col-lg-6::-webkit-scrollbar {
  display: none; 
}



/* horizontal line in social icon  */

.social-icons-line-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0; /* Adjust spacing as needed */
}

.social-icons-container {
  display: flex;
  gap: 15px; /* Adjust gap between icons */
  padding: 0 10px; /* Add horizontal spacing between icons and lines */
}

.line {
  flex-grow: 1;
  height: 1px; /* Thickness of the line */
  background-color: #ccc; /* Default background color */
  position: relative;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ea8d8d, #eec5bd, #f3b1a5 35%, #a890fe 72%, #dad9e9);
  filter: blur(4px); /* Apply blur to the gradient */
}

@media (max-width: 576.98px) {
  .custom-content-block {
      padding: 20px!important;
  }
}

@media (max-width: 425px) {
  .glassIco {
    --width: 35px!important;
    font-size: 20px!important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.mySwiper {
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures the content respects the border radius */
  background-color: #fff; /* Background color for the carousel area */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}

/* App.css */
.mySwiper,
.swiper {
  background-color: transparent !important;
}

.swiper-slide {
  background-color: transparent !important;
}


